emcee
corner
matplotlib
astropy
scipy
numpy>=1.17.0
pandas
git+https://github.com/sjoertvv/sjoert@3308c1afe111693da0821b6d8b24a0439f0a648c
requests
catsHTM
flarestack
pytest
pytest-cov
nbval
pylatex
ffmpeg-python
gammapy
tqdm